@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/syne";
@import "@fontsource/rubik";


/* Other global styles */
body {
    background-color: #1a1a1a;
}


h1 {
    @apply font-syne text-h1;
}

h2 {
    @apply font-syne text-h2;
}

h3 {
    @apply font-syne text-h3;
}

h4 {
    @apply font-rubik text-h4;
}

p.large {
    @apply font-rubik text-bodyLarge;
}

p.medium {
    @apply font-rubik text-bodyMedium;
}

button {
    @apply font-rubik text-button;
}





/* Custom styles for React Quill */
.ql-editor {
    min-height: 200px;
    /* Set a minimum height for the editor */
}

.ql-toolbar {
    border: 1px solid #e5e7eb;
    /* Tailwind's gray-300 */
    border-radius: 0.375rem;
    /* Tailwind's rounded-md */
}

.ql-toolbar.ql-snow {
    background: white;
    /* Background for the toolbar */
}

.ql-container.ql-snow {
    border: 1px solid #e5e7eb;
    /* Tailwind's gray-300 */
}

.ql-editor h1 {
    @apply text-xl font-bold;
    /* Tailwind's text-xl and font-bold */
}

.ql-editor p {
    @apply text-base;
    /* Tailwind's text-base */
}


/* Custom styles for App typography */